export TARGET_HOST=pi@weatherboi.local
export TARGET_PATH=/home/pi/weather-station
export BINARY_FILE=$TARGET_PATH/weather-station
export TARGET_ARCH=armv7-unknown-linux-gnueabihf
export SOURCE_PATH=/home/erickulchycki/Documents/WeatherStation/target/${TARGET_ARCH}/release/weather-station
