[Unit]
Description=Base Socket Server

[Service]
ExecStart=/home/pi/WeatherStation/webserver/src/app.js
Restart=always
User=pi

[Install]
WantedBy=multi-user.target