[Unit]
Description=Sensor

[Service]
ExecStart=/home/pi/WeatherStation/sensor_lib/target/armv7-unknown-linux-gnueabihf/release/weather-station
Restart=always
User=pi

[Install]
WantedBy=multi-user.target